html {
	background: linear-gradient(
                     rgba(20,20,20, .2), 
                     rgba(20,20,20, .2)), url(assets/img/main-bg.jpg) no-repeat left bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 10em;
	background-color: transparent;
	color: #3b444c;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

.navbar {
	background-color: rgba(20,20,20, .2);
	color: white;
}

.navbar-nav > li > a, a.navbar-brand {
	margin: .7em;
	padding-left: 2em;
	padding-right: 2em;
}

.navbar {min-height:5em;}

.navbar-inverse {
	border-color: rgba(255, 255, 255, .4);
}

.navbar a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: white;
	border: .1em solid transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
	border-color: #EF6461;
	background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a:hover {
background-color: #EF6461;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	background-color: #EF6461;
	border-color: #EF6461;
}

.jumbotron {
	/*background: none;
	text-align: right;
	color: #ffffff;*/
	/*background: url(assets/img/main-bg.jpg) no-repeat center fixed; 
    background-size: cover;*/
    	background: linear-gradient(
                     rgba(20,20,20, .2), 
                     rgba(20,20,20, .2)), url(assets/img/main-bg.jpg) no-repeat left bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  text-align: right;
  color: #fff;
}

.jumbotron h1 {
	color: white;
	text-shadow: 2px 2px 6px rgba(0,0,0,.5);

}

.jumbotron .btn-primary {
	background-color: #EF6461;
	border-color: #db6a67;
}

.jumbotron .btn-primary:hover {
	background-color: #db6a67;
}

.main-lead {
    /*background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 80%;
    bottom: 5em;
    height:10em;
    right:0;*/
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 20px;
}

.white-section {
	background-color: white;
	padding-top: 5em;
	padding-bottom: 5em;
}